@import "../vendor/fonts.css";
@import "../styles/variables.scss";
@import "../styles/styles.scss";
@import "../styles/mixins.scss";

.theme-light {
  --color-primary: #F4F4F4;
  --color-secondary: #EFEFEF;
  --color-accent: #24B47E;
  --color-picture-back: #F4F4F4;
  --font-color: #151515;
}

.theme-dark {
  --color-primary: #333333;
  --color-secondary: #2F2F2F;
  --color-accent: #24B47E;
  --color-picture-back: #F4F4F4;
  --font-color: #FFFFFF;
}

.body {
  font-family: $font;
  background-color: var(--color-primary);
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
  color: var(--font-color);
  box-sizing: border-box;
}

// .content {
//   display: grid;
//   row-gap: 120px;
// }

.header {
  padding: 28px 120px 28px 0;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--color-primary);
}

.content {
  padding-left: 120px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.list-link {
  text-decoration: none;
  color: var(--font-color);
  @include cursor-pointer;
}

.nav-list {
  justify-content: flex-end;
  @include font-size(14, 18, 500);
}

.nav-item {
  margin-left: 34px;
  &:hover {
    opacity: 0.7;
  }
}

.section__title {
  @include font-size(55, 60, 700);
  letter-spacing: -0.5px;
  margin-bottom: 50px;
  margin: 0;
}

.intro {
  display: flex;
  justify-content: space-between;
}

.intro__wrapper {
  display: flex;
  padding-top: 80px;
}

.section__info {
  width: 460px;
}

.section__description {
  @include font-size(18, 28);
  margin: 50px 0;
  opacity: 0.7;
}

.intro_img {
  width: 610px;
  height: 836px;
}

.intro__dash-wrapper {
  display: flex;
}

.intro__bike-title {
  margin: 0;
}

.intro__dash {
  width: 132px;
  margin: 9px;
  border-bottom: 2px solid #D7D4D4;
}

.intro__button {
  @include background-transition(var(--color-accent), #319E75);
  @include font-size(18, 18);
  @include cursor-pointer;
  padding: 16px 10px;
  width: 180px;
  text-align: center;
  color: white;
  border-radius: 4px;
  border: none;
  margin-bottom: 167px;
}

.intro__images-block {
  position: relative;
  padding-top: 20px;
}

.intro__sticky-bike {
  position: absolute;
  margin-left: -200px;
  height: 430px;
  bottom: 37px;
}

.intro__sticky-img {
  width: 340px;
  object-fit: cover;
  background-color: var(--color-picture-back);
  padding: 20px 50px;
  border-radius: 20px;
  position: sticky;
  top: 80px;
  filter: drop-shadow(-20px 60px 220px rgba(0, 0, 0, 0.2));
}

.intermediate {
  display: flex;
  padding: 120px 120px 40px 0;
}

.intermediate__img {
  width: 650px;
  height: 460px;
  object-fit: cover;
}

.intermediate__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 80px;
}

.intermediate__quote {
  margin: 0;
  @include font-size(34, 44, 600);
  letter-spacing: -0.5px;
}

.intermediate__quote-author {
  @include font-size(20, 32, 500);
  margin: 0;
}

.intermediate__quote-prof {
  @include font-size(16, 28);
  margin: 0;
  opacity: 0.7;
}

.carousel {
  padding-top: 80px;
  padding-bottom: 40px;
}

.carousel__imgs {
  margin-top: 80px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  position: relative;
  width: 1320px;
  overflow: hidden;
}

.carousel__item-image {
  height: 400px;
  width: 650px;
  object-fit: cover;
  margin-right: auto;
}

.carousel__terrain {
  position: absolute;
  bottom: 16px;
}

.arrow {
  width: 50px;
  height: 50px;
  display: inline-block;
  user-select: none;
  @include cursor-pointer;
  transition: opacity 0.6s ease;
  &:hover {
    opacity: 0.6;
  }
}

.arrow_prev {
  background-image: url(../img/arrow-left.svg);
  margin-right: 20px;
}

.arrow_next {
  background-image: url(../img/arrow-right.svg);
}

.bikes-list {
  padding: 75px 120px 60px 0;
}

.bike__item {
  font-size: 0;
}

.bike__link {
  text-decoration: none;
}

.bikes-list__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 105px;
}

.bikes-list__filter {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  column-gap: 40px;
  padding-top: 10px;
}

.bikes-list__item {
  @include font-size(18, 28, 400);
  cursor: url(../img/cursor.svg), auto;
  text-align: right;
  opacity: 0.7;
    &.selected {
      font-weight: 600;
      opacity: 1;
    }
    &.selected:hover {
      opacity: 0.75;
    }
    &:hover {
      opacity: 0.6;
    }
}

.bikes-list__slide {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}

.bikes-list__img {
  background-color: var(--color-picture-back);
  padding: 20px;
  border-radius: 20px;
  filter: drop-shadow(0px 20px 140px rgba(0, 0, 0, 0.06));
  height: 380px;
  width: 380px;
  object-fit: cover;
  box-sizing: border-box;
  cursor: url(../img/cursor.svg), auto;
}

.bikes-list__model {
  @include font-size(18, 22, 600);
  color: var(--font-color);
  margin-top: 22px;
  cursor: url(../img/cursor.svg), auto;
}

.trainings {
  padding: 150px 120px 120px 0;
  display: flex;
  justify-content: space-between;
}

.trainings-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.trainings__list {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  column-gap: 30px;
}

.trainings__item {
  @include font-size(18, 28, 600);
  cursor: url(../img/cursor.svg), auto;
  &:hover {
    opacity: 0.75;
  }
}

.trainings__img {
  width: 580px;
  height: 460px;
  object-fit: cover;
}

.footer {
  padding: 80px 120px 60px;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-input-container {
  width: 360px;
}

.footer__subscribe-text {
  @include font-size(24, 32, 600);
  color: var(--font-color);
  width: 95%;
  margin-bottom: 50px;
  margin-top: 0;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.footer__copyright {
  margin: 0;
  color: #CFCFCF;
}

.footer input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: url(../img/cursor.svg), auto;;
  }
  
.slider {
  display: flex;
}

.icon {
  height: 28px;
  width: 28px;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
}

.icon__sun {
  background-image: url(../img/sun.svg);
}

.icon__moon {
  background-image: url(../img/moon.svg);
}

.toggle {
  height: 24px;
  width: 44px;
  border-radius: 16px;
  display: inline-block;
  position: relative;
  margin: 0 22px;
  background: white;
  transition: all .2s ease;
  &:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--color-accent);
    box-shadow: 0 1px 2px rgba(44,44,44,.2);
    transition: all .2s cubic-bezier(.5,.1,.75,1.35);
  }
  &:checked {
    border-color: #654FEC;
    &:after {
      transform: translatex(20px);
    }
  }
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}



.hidden {
  display: none;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}