@import "../vendor/fonts.css";
.btn {
  font-weight: normal;
  text-align: center;
  border-radius: 2px;
  height: 40px;
  font-size: 16px;
  line-height: 26px;
  font-family: "Rubik", sans-serif;
}
.btn:hover {
  cursor: pointer;
}

.body {
  font-family: Inter, Arial, sans-serif;
  background-color: #F4F4F4;
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
}

.header {
  padding: 28px 120px 28px 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #F4F4F4;
}

.content {
  padding-left: 120px;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.2857142857;
  font-weight: 500;
}

.nav-item {
  margin-left: 20px;
}
.nav-item:hover {
  opacity: 0.7;
}

.nav-link {
  text-decoration: none;
  color: #151515;
  cursor: url(../img/cursor.svg), auto;
}

.section__title {
  font-size: 55px;
  line-height: 1.0909090909;
  font-weight: 700;
  color: #151515;
  letter-spacing: -0.5px;
  margin-bottom: 50px;
  margin: 0;
}

.intro {
  display: flex;
  justify-content: space-between;
}

.intro__wrapper {
  display: flex;
}

.section__info {
  width: 460px;
}

.section__description {
  font-size: 18px;
  line-height: 1.5555555556;
  font-weight: 400;
  margin: 50px 0;
}

.intro_img {
  width: 610px;
  height: 836px;
}

.intro__dash-wrapper {
  display: flex;
}

.intro__bike-title {
  margin: 0;
}

.intro__dash {
  width: 132px;
  margin: 9px;
  border-bottom: 2px solid #D7D4D4;
}

.intro__button {
  background: linear-gradient(90deg, #319E75 0%, #319E75 50%, #24B47E 50%, #24B47E 100%);
  background-repeat: no-repeat;
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.25s ease-out;
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  cursor: url(../img/cursor.svg), auto;
  padding: 16px 10px;
  width: 180px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 4px;
  border: none;
  margin-bottom: 167px;
}
.intro__button:hover {
  background-position: left bottom;
}

.intro__images-block {
  position: relative;
  padding-top: 20px;
}

.intro__sticky-bike {
  position: absolute;
  margin-left: -200px;
  height: 430px;
  bottom: 79px;
}

.intro__sticky-img {
  width: 340px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #F4F4F4;
  padding: 20px 50px;
  border-radius: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
  filter: drop-shadow(-20px 60px 220px rgba(0, 0, 0, 0.2));
}

.intermediate {
  display: flex;
  padding-right: 120px;
}

.intermediate__img {
  width: 650px;
  height: 480px;
  -o-object-fit: cover;
     object-fit: cover;
}

.intermediate__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 80px;
}

.intermediate__quote {
  margin: 0;
  font-size: 34px;
  line-height: 1.2941176471;
  font-weight: 600;
  letter-spacing: -0.5px;
}

.intermediate__quote-author {
  font-size: 20px;
  line-height: 1.6;
  font-weight: 500;
  margin: 0;
}

.intermediate__quote-prof {
  font-size: 16px;
  line-height: 1.75;
  font-weight: 400;
  margin: 0;
  color: #222222;
  opacity: 0.7;
}

.carousel {
  padding-top: 80px;
}

.carousel__imgs {
  margin-top: 80px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 40px;
       column-gap: 40px;
  position: relative;
  width: 1320px;
  overflow: hidden;
}

.carousel__item-image {
  height: 400px;
  width: 650px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: auto;
}

.carousel__terrain {
  position: absolute;
  bottom: 16px;
}

.arrow {
  width: 50px;
  height: 50px;
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: url(../img/cursor.svg), auto;
  transition: opacity 0.6s ease;
}
.arrow:hover {
  opacity: 0.6;
}

.arrow_prev {
  background-image: url(../img/arrow-left.svg);
  margin-right: 20px;
}

.arrow_next {
  background-image: url(../img/arrow-right.svg);
}

.bikes-list {
  padding-top: 80px;
  padding-right: 120px;
}

.bikes-list__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}

.bikes-list__filter {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, -webkit-min-content);
  grid-template-columns: repeat(3, min-content);
  -moz-column-gap: 40px;
       column-gap: 40px;
  padding: 0;
  margin: 0;
  align-items: center;
}

.bikes-list__item {
  font-size: 18px;
  line-height: 1.5555555556;
  font-weight: 400;
  cursor: url(../img/cursor.svg), auto;
  text-align: right;
  opacity: 0.7;
}
.bikes-list__item.selected {
  font-weight: 600;
  opacity: 1;
}
.bikes-list__item.selected:hover {
  opacity: 0.75;
}
.bikes-list__item:hover {
  opacity: 0.6;
}

.bikes-list__slide {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.bikes-list__img {
  background-color: #F4F4F4;
  padding: 12px;
  border-radius: 20px;
  filter: drop-shadow(0px 20px 140px rgba(0, 0, 0, 0.06));
  height: 380px;
  width: 380px;
  -o-object-fit: cover;
     object-fit: cover;
  box-sizing: border-box;
  cursor: url(../img/cursor.svg), auto;
}

.bikes-list__model {
  font-size: 18px;
  line-height: 1.2222222222;
  font-weight: 600;
  color: #151515;
  margin-top: 22px;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.hidden {
  display: none;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=index.css.map */