@import "../vendor/fonts.css";
@import "../styles/variables.scss";
@import "../styles/styles.scss";
@import "../styles/mixins.scss";

.body {
  font-family: $font;
  background-color: $base-color;
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
  padding-left: 120px;
  box-sizing: border-box;
}

// .content {
//   display: grid;
//   row-gap: 120px;
// }

.header {
  padding: 28px 120px 28px 0;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: $base-color;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
  @include font-size(14, 18, 500);
}

.nav-item {
  margin-left: 20px;
  &:hover {
    opacity: 0.7;
  }
}

.nav-link {
  text-decoration: none;
  color: $font-dark;
  @include cursor-pointer;
}

.section__title {
  @include font-size(55, 60, 700);
  letter-spacing: -0.5px;
  margin-bottom: 50px;
  margin-top: 0;
}

.intro {
  display: flex;
  justify-content: space-between;
}

.intro__wrapper {
  display: flex;
}

.section__info {
  width: 460px;
}

.section__description {
  @include font-size(18, 28);
  margin-bottom: 50px;
}

.intro_img {
  width: 610px;
  height: 836px;
}

.intro__dash-wrapper {
  display: flex;
}

.intro__bike-title {
  margin: 0;
}

.intro__dash {
  width: 132px;
  margin: 9px;
  border-bottom: 2px solid #D7D4D4;
}

.intro__button {
  @include background-transition($secondary, #319E75);
  @include font-size(18, 18);
  @include cursor-pointer;
  padding: 16px 10px;
  width: 180px;
  text-align: center;
  color: $font-light;
  border-radius: 4px;
  border: none;
  margin-bottom: 167px;
}

.intro__images-block {
  position: relative;
  padding-top: 20px;
}

.intro__sticky-bike {
  position: absolute;
  margin-left: -200px;
  height: 430px;
  bottom: 79px;
}

.intro__sticky-img {
  width: 340px;
  object-fit: cover;
  background-color: $base-color;
  padding: 20px 50px;
  border-radius: 20px;
  position: sticky;
  top: 80px;
  box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.44);
}

.intermediate {
  display: flex;
  padding-right: 120px;
}

.intermediate__img {
  width: 650px;
  height: 480px;
  object-fit: cover;
}

.intermediate__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 80px;
}

.intermediate__quote {
  margin: 0;
  @include font-size(34, 44, 600);
  letter-spacing: -0.5px;
}

.intermediate__quote-author {
  @include font-size(20, 32, 500);
  margin: 0;
}

.intermediate__quote-prof {
  @include font-size(16, 28);
  margin: 0;
  color: #222222;
  opacity: 0.7;
}

.hidden {
  display: none;
}

.carousel {
  padding-top: 120px;
}

.carousel__imgs {
  margin-top: 80px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  position: relative;
  width: 1320px;
  overflow: hidden;
}

.carousel__item-image {
  height: 400px;
  width: 650px;
  object-fit: cover;
  margin-right: auto;
}

.carousel__terrain {
  position: absolute;
  bottom: 16px;
}

.arrow {
  width: 50px;
  height: 50px;
  display: inline-block;
  user-select: none;
  @include cursor-pointer;
  transition: opacity 0.6s ease;
  &:hover {
    opacity: 0.6;
  }
}

.arrow_prev {
  background-image: url(../img/arrow-left.svg);
  margin-right: 20px;
}

.arrow_next {
  background-image: url(../img/arrow-right.svg);
}

.bikes-list {
  padding-top: 120px;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}